<footer>
    <p>designed by &copy; Paweł Gilewicz</p>
</footer>
<nav>
        <ul>
            <li>
                <h1>
                    GiluBlog
                </h1>
            </li>
            <li>
                <a href="/">search blog</a>
            </li>
            <li>
                <a href="createBlog">Create Post</a>
            </li>
            <li>
               
                <a href="clearData">Clear data</a>
            </li>
        </ul>
    </nav>
</body>
</html>

